@font-face {
    font-family: "ryz";
    src: url(./fonts/Sddystopiandemo-GO7xa.otf);
}

@font-face {
    font-family: "cyb";
    src: url(./fonts/Sdglitchrobotdemo-GOPdO.ttf);
}

@font-face {
    font-family: "icon";
    src: url(./fonts/icomoon.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #01012b;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 414px) {
    .wrapper {
        /* max-width: 400px; */
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .container {
        height: 100%;
    }
    .main {
        max-width: 400px;
        border: solid 1px #ff2a6d;   
    }
    .main__info {
        max-width: 100%;
        flex-direction: column; 
        height: auto;
        padding: 10px;

    }
    .info__name {
        text-align: center;
    }
    .info__img {
        width: 100px;
        height: 100px;
    }
    .plus {
        font-size: 5em;
        position: sticky;
        top: -10%;
        left: -9% !important;
        z-index: 1000;
    }
    .p {
        font-size: 1.2em;
    }

    /* Здесь заканчивается первый блок*/
    
    .main__skills{
        flex-direction: column; 
    }
    
    .skills__imgb{
        width: 100px;
        height: 100px;
    }
    
    .skills__img {
        width: 50px;
        height: 50px;
    }
    
    .skills__name {
        font-family: "cyb";
        font-size: 1.5rem;
        text-align: center;
        padding-block: 10px;
    }

    /* Здесь заканчивается второй блок*/

    .main__hobby {
        max-width: 100%;
        flex-direction: column; 
        height: auto;
        padding: 10px; 
    }

    .hobby__cont {
        width: 100px;
        height: 100px;
    }

    .hobby__img {
        width: 50px;
        height: 50px;   
    }

    .hobby__name {
        font-family: "cyb";
        font-size: 1.9rem !important;
        text-align: center;
        padding-block: 10px;
        margin-top: 15px;    
    }
    
    /* Здесь заканчивается третий блок*/
    
    .main__proj {
        max-width: 100%;
        flex-direction: column; 
        height: auto;
        padding: 10px;  
    }
    
    .proj__img {
        margin-block: 10px;  
    }

    /* Здесь заканчивается третий блок*/
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 98%;
    max-height: 98%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.plus{
    color: #ff2a6d;
    font-size: 7em;
    font-weight: 900;
    animation: plus 2s linear infinite;
    align-self: flex-start;
    flex-direction: column;
    position: sticky;
    top: 5%;
    left: 1%;
    z-index: 1000;
}
.p {
    align-self: flex-end;
    bottom: 5%;
    right: 1%;
    z-index: 1000;
}

@keyframes plus {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }    
}

.main__Name {
    font-size: 2rem;
    font-family: "cyb";
    color: #fdf500;
    background-color: rgb(0, 0, 0);
    width: 20%;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main {
    width: 86%;
    height: auto;
    border: solid 5px #ff2a6d;
    margin: 0 auto;
}

.main__info {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #fdf500, #fdf500e0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 6px dashed black;
    padding: 20px 0;    
}

.info__name {
    font-family: "ryz";
    font-size: 5rem;
    margin: 15px;
}

.info__img {
    width: 180px;
    height: 180px;
    margin: 10px;
    border: 4px outset #ff2a6d;
}

/* Первый блок end*/

.main__skills, .main__hobby, .main__proj, .main__footer {
    margin-bottom: 100px;
    width: 100%;
    height: auto;
    background: linear-gradient(45deg, #fdf500, #fdf500e0);
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 6px dashed black;
    padding: 20px 0; 
}

.skills__imgb {
    width: 160px;
    height: 160px;
    background-color: black;
    border: solid 3px #ff2a6d;
    border-radius: 50%;
}

.skills__img {
    width: 150px;
    height: 150px;
}

.skills__name {
    font-family: "cyb";
    font-size: 3.5rem;
}

/* второй блок end */

.hobby__cont {
    width: 180px;
    height: 180px;
    background-color: black;
    border: solid 3px #ff2a6d;
    border-radius: 50%;
}

.hobby__img {
    width: 200px;
    height: 200px; 
}

.hobby__name {
    font-family: "ryz";
    font-size: 2.5rem; 
}

/* Третий блок end */

.proj__img {
    width: 180px;
    height: 150px;
    border-radius: 10px;
    border: solid 3px #ff2a6d;
}

/* Четвертый блок end */

.size {
    font-size: 2.5rem;
}