@font-face {
    font-family: Gilroy-Bold;
    src: url(./fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: Gilroy-Medium;
    src: url(./fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: Inter-bold;
    src: url(./fonts/Inter/Inter_28pt-Bold.ttf);
}
@font-face {
    font-family: Gilroy-SemiBold;
    src: url(./fonts/Gilroy-SemiBold.ttf);
}
* {
    padding: 0px;
    margin-top: 15px;
    box-sizing: border-box;
    user-select: none;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    user-select: none;
}
.header__link{
    font-family: "Gilroy-Bold";
}
.header__size {
    display: flex;
    gap: 10px;
}
.header__center {
    display: flex;
    gap: 50px;
    font-family: "Gilroy-Medium";
}
.header__btn {
    width: 100px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    color: rgb(0, 0, 0);
    margin-left: -15px;
    font-family: "Gilroy-Medium";
    transition: 0.3s;
}
.header__btn:hover {
    background-color: #49AD09;
    color: white;
    box-shadow: 1px 2px 2px darkgray;
}
.header__links:hover {
    color: #49AD09;
    text-shadow: 1px 1px 2px rgb(145, 144, 144);
}
.header__btn:active {
    box-shadow: 1px 2px 2px rgb(114, 114, 114);
    transform: scale(0.8);
}
.center {
    display: flex;
}
.center__img {
    display: flex;
    width: 360px;
    height: 800px;
}
#center__text {
    width: 550px;
    height: 800px;
    display: grid;
    justify-content: center;
}
#img__rtg1 {
    position: relative;
    width: 130px;
    height: 400px;
    background-color: #49AD09;
    top: 180px;
    left: 50px;
    z-index: -1;
}
#img__rtg2 {
    position: relative;
    width: 120px;
    height: 130px;
    background-color: #49AD09;
    top: 180px;
    left: 30px;
    z-index: -2;
}
#img__img1 {
    position: absolute;
    z-index: 1;
    top: 260px;
    left: 0px;
}
#img__img2 {
    position: absolute;
    z-index: 1;
    top: 450px;
    left: 200px;
}
#img__img3 {
    position: absolute;
    z-index: 1;
    top: 660px;
    left: 20px;
}
#img__rtg3 {
    position: absolute;
    width: 170px;
    height: 360px;
    background-color: #49AD09;
    top: 45%;
    right: 2%;
}
#img__rtg4 {
    position: relative;
    width: 315px;
    height: 110px;
    background-color: #49AD09;
    top: 480px;
    right: -70px;
}
#img__img4 {
    position: absolute;
    z-index: 1;
    top: 230px;
    right: 0px;
}
#img__img5 {
    position: absolute;
    z-index: 1;
    top: 410px;
    right: 100px;
}
#img__img6 {
    position: absolute;
    z-index: 1;
    top: 660px;
    right: 0px;
}
.text__title {
    margin-top: 170px;
    width: 400px;
    height: 30px;
    font-family: "Inter-bold";
    text-align: center;
    font-size: 55px;
}
#text__title {
    color: #49AD09;
}
.text__prg {
    margin-top: -20px;
    color: #514040;
    font-family: "Gilroy-Medium";
    text-align: center;
    font-size: 15px;
}
.title__btn {
    background-color: #49AD09;
    color: white;
    font-family: "Gilroy-Medium";
    text-align: center;
    padding-top: 15px;
    width: 180px;
    height: 50px;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 70px;
}
.title__btn:hover {
    background-color: #5ee00d;
    box-shadow: 1px 2px 10px darkgray;
}
.title__link {
   position: relative;
   left: 240px;
   bottom: 35px;
   font-family: "Gilroy-Medium";
   color: #514040;
}
.brands {
    width: 1280px;
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-content: center;
    font-family: "Gilroy-Bold";
    color: #A1A89D;
    font-size: 25px;
}
.down {
    display: grid;
    justify-content: center;
    text-align: center;
}
.down__title2 {
    font-family: "Gilroy-Medium";
    color: #514040;
    font-size: 15px;
}
.down__title {
    font-family: "Gilroy-Medium";
    color: #313131;
    font-size: 35px;
    font-weight: 100;
}
.parent {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(2, 250px);
    gap: 30px;
    text-align: left;
    padding: 5px;
}
    
.div1 { 
    grid-area: 1 / 1 / 2 / 2;
    padding: 15px;
    transition: 0.3s;
}
.div2 { 
    grid-area: 1 / 2 / 2 / 3;
    padding: 15px;
    background-color: #49AD0926;
    transition: 0.3s;
}
.div3 { 
    grid-area: 2 / 1 / 3 / 2;
    padding: 15px;
    transition: 0.3s;
}
.div4 { 
    grid-area: 2 / 2 / 3 / 3;
    padding: 15px;
    background-color: #313131;
    color: white;
    transition: 0.3s;
}

.parent__font {
    color: #313131;
    font-family: "Gilroy-SemiBold";
}
.parent__php {
    font-family: "Gilroy-SemiBold";
    color: white;
}
.parent__prg {
    color: #514040;
    font-family: "Gilroy-Medium";
    font-size: 13px;
    padding-bottom: 20px;
}
#parent__prg {
    color: white;
}
.parent__link {
    font-family: "Gilroy-Medium";
    font-size: 13px;
    color: #313131;
}
#parent__web {
    color: #49AD09;
}
.div1:hover {
    box-shadow: -1px 2px 65px darkgray;
    transform: scale(1.1);
}
.div2:hover {
    box-shadow: -1px 2px 65px darkgray;
    transform: scale(1.1);
}
.div3:hover {
    box-shadow: -1px 2px 55px darkgray;
    transform: scale(1.1);
}
.div4:hover {
    box-shadow: -1px 2px 65px darkgray;
    transform: scale(1.1);
}
.down-btn {
    width: 250px;
    height: 40px;
    border-radius: 3px;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 15px;
    font-family: "Gilroy-Medium";
    transition: 0.3s;
    background-color: #49AD09;
    justify-self: center;
    margin: 50px;
}
.down-btn:hover {
    box-shadow: 1px 2px 10px darkgray;
    background-color: #5bdb0b;
}